# 编译产物
*.o
*.a
*.so
*.out
*.exe

# C/C++ 自动生成文件
*.d
*.obj
*.elf

# 构建输出
/bin/
/build/

# 二进制可执行文件
kvstore
kvstore_proactor
testcase

# RDB 持久化文件
dump.rdb

# 备份/临时文件
*.swp
*.swo
*.tmp
*.log

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc
